---
import Layout from '@/layouts/Layout.astro'
import Photo from '@/components/Photo.astro'
import { getPhotoById } from '@/data/photo'
import { getDate } from '@/utils/dateHelper'
import Photo1 from './20241022_1.jpg'
import Photo2 from './20241022_2.jpg'
import Photo3 from './20241022_3.jpg'
import Photo4 from './20241022_4.jpg'
import Photo5 from './20241022_5.jpg'
import Photo6 from './20241022_6.jpg'
import Photo7 from './20241022_7.jpg'
import Photo8 from './20241022_8.jpg'
import Photo9 from './20241022_9.jpg'
import Photo10 from './20241022_10.jpg'
import Photo11 from './20241022_11.jpg'
import Photo12 from './20241022_12.jpg'
import Photo13 from './20241022_13.jpg'
import Photo14 from './20241022_14.jpg'
import Photo15 from './20241022_15.jpg'
import Photo16 from './20241022_16.jpg'
import Photo17 from './20241022_17.jpg'
import Photo18 from './20241022_18.jpg'
import Photo19 from './20241022_19.jpg'
import Photo20 from './20241022_20.jpg'
import Photo21 from './20241022_21.jpg'
import Photo22 from './20241022_22.jpg'
import Photo23 from './20241022_23.jpg'
import Photo26 from './20241022_26.jpg'
import Photo27 from './20241022_27.jpg'

const photo = getPhotoById(2)
if (!photo) {
  return new Response(null, {
    status: 404,
    statusText: 'Not found',
  })
}
---

<Layout title={photo.title}>
  <h2>
    {photo.title}
    <time>
      {getDate(new Date(photo.year, photo.month - 1, photo.day))}
    </time>
  </h2>

  <p>行くぞ、福岡。<br />ということで横須賀フェリーターミナルへ</p>
  <Photo
    img={Photo1}
    alt="横須賀のマスコットキャラらしきカモメのスカレー"
    text="結構おいしそうなカレーを持ってる"
  />
  <Photo img={Photo2} alt="スタバ" text="スタバ買ってから行く" />
  <Photo img={Photo3} alt="夜の横須賀" text="こんな道を通り抜けて" />
  <Photo
    img={Photo4}
    alt="夜の横須賀の交差点"
    text="こんな交差点も通り抜けて"
  />
  <Photo img={Photo5} alt="コンテナの山" text="港っぽくなってきた" />
  <Photo img={Photo6} alt="夜のエモい自販機" text="エモい自販機を通り過ぎて" />
  <Photo img={Photo7} alt="遠くに船が見える" text="船っぽいのが見えてきた" />
  <Photo
    img={Photo8}
    alt="フェリーターミナル行きの看板"
    text="フェリーターミナル行きの看板"
  />
  <Photo
    img={Photo9}
    alt="北九州行きフェリーの表示"
    text="足下には北九州行きフェリーの表示"
  />
  <p>
    『マジ？この先になんかある？』って感じの道だったので看板あってよかった。
  </p>
  <Photo
    img={Photo10}
    alt="コンテナ曳いてるトラックの頭だけの状態のやつ"
    text="稀に見かけるコンテナ曳いてるトラック頭だけの状態好き"
  />
  <Photo img={Photo11} alt="横須賀フェリーターミナル" text="着いた！！！" />
  <Photo
    img={Photo12}
    alt="東京九州フェリーのフェリーターミナル"
    text="いかにも九州行きそうな名前"
  />
  <Photo
    img={Photo13}
    alt="フェリーターミナルの中の葉山牛コロッケ"
    text="葉山牛コロッケを食す。おいしい"
  />
  <p>コロッケ以外にもカレーライスとかあるので、はらぺこで行っても大丈夫。</p>
  <Photo img={Photo14} alt="フェリー" text="これに乗る" />
  <p>
    フェリーって乗船手続きとかどうなん？飛行機くらいかかるんかな？って思ってはやめに行ったら、特に何もなかった。
  </p>
  <Photo img={Photo15} alt="フェリー内の部屋の扉" text="今日のお部屋です" />
  <Photo
    img={Photo16}
    alt="フェリー内の部屋の机"
    text="夜行列車くらいの部屋かと思ったら結構しっかりしている"
  />
  <Photo
    img={Photo17}
    alt="フェリー内の部屋のコンセント"
    text="2口とUSBはありがたい"
  />
  <Photo img={Photo18} alt="フェリー内の部屋のテレビ" text="テレビもある" />
  <Photo img={Photo19} alt="フェリー内の部屋のベッド" text="ベッドはかため。" />
  <p>角部屋なのもあってか夜は少し寒かった。あと湿度もちょっと低めに感じた。</p>
  <Photo img={Photo21} alt="フェリーの甲板" text="遠くに夜の横須賀も見える" />
  <Photo img={Photo22} alt="夜の横須賀" text="横須賀も綺麗だなあ" />
  <Photo img={Photo20} alt="フェリーから見る夜空" text="月がきれい" />
  <p>
    出航してしまうと甲板には出れなくなる。なので、甲板に出るチャンスは乗った直後～出航するまで
  </p>
  <Photo
    img={Photo23}
    alt="カップヌードル自販機"
    text="カップヌードルもあるぞ！結構食べてる人いた"
  />
  <Photo
    img={Photo26}
    alt="ミルクココアと牛乳とサンデーカップ"
    text="夜食です"
  />
  <Photo
    img={Photo27}
    alt="電波ない表示"
    text="電波ないとこんな表示になるんだあって思って撮ったやつ。"
  />
</Layout>

<style lang="scss">
  h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    font-weight: normal;
    margin: 2rem 0;
    padding: 0;
  }
  time {
    margin-left: 16px;
    font-size: 0.9rem;
    color: #ccc;
  }
  p {
    margin: 2rem 0;
    line-height: 1.5rem;
  }
</style>
